# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android Studio / Android specific
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/.gradle
android/captures/
android/gradle/wrapper/gradle-wrapper.jar
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/**/generated
**/android/**/out

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
